

.jumbotron(style='margin-top:20px')
    .container
        h1 Hello User!
        p
            | This is your video area. Here can you see all of your videos. You can add additional books or remove and modify it. Have fun bro ;)
        p
            a.btn.btn-primary.btn-lg(role='button') Learn more »

#itemsContainer(data-role='container', data-source='/books/gGAttr?gAttr=' + gAttr)

include ../shared/dialogs