html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Node Authentication

    script(data-main="/js/config", src="/bower_components/requirejs/require.js")

    style(type='text/css').
        body {
            padding-top: 50px;
        }
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
        #initialLoadingAnimation {
            position: absolute;
            width: 30px;
            height: 30px;
            z-index: 15000;
            top: 50%;
            left: 50%;
            margin: -15px 0 0 -15px;
        }
    body
        // this div is the container for our loading animation before css and js are delivered to the browser
        // it gets removed after initial loading
        #initialLoadingAnimation

        // dynamic-content is very important, because we dont want to show unrendered html before css and js is delivered!
        .content-wrapper(id="dynamic-content", style="display: none;")
            .navbar.navbar-default.navbar-fixed-top(role='navigation', id="topNavigation")
                .container
                    .navbar-header
                        a.navbar-brand(href='#') I don't know
        .main(id="main-container")
            block content