//
   Created by dennis on 4/1/14.

table.table.table-hover.table-striped
    thead
        tr
            th Server name
            th Port
            th Services
            th Ip address
            th
    tbody
        each video in videos
            tr
                td
                    !{video.name}
                td.text-right.table-actions
                    button.btn.btn-xs.btn-primary(type="button", data-role="action", data-params='id=' + video._id, data-target="")
                        i.fa.fa-search.fa-fw
                        = '  Details'
                    button.btn.btn-xs.btn-danger(type="button", data-role="action", data-params='id=' + video._id, data-target="")
                        i.fa.fa-minus-circle.fa-fw
                        = '  Delete server'