//
   Created by dennis on 4/1/14.

.container
    .row
        each item in data
            .panel-group(id = 'accordion' + item)
                .panel.panel-default
                    .panel-heading
                        //img(src='http://placehold.it/100x30', alt='country flag', style='float: left; margin: 3px 10px 0 3px; text-align: center;')
                        a.accordion-toggle(data-toggle='collapse', href='#collapse' + item, data-parent='#accordion' + item) !{item}
                    div(id = 'collapse' + item, data-role='container', data-source='/videos/getAllVideosPerGenre?value=' + item + '&videoSearchAttr=' + videoSearchAttr).apanel-collapse.collapse