.panel-body
    table.table.table-striped.table-condensed
        thead
            tr
                th Title
                th ASIN
                th ean
        tbody
            each video in videos
                tr
                    td !{video.itemAttributes.title}
                    td !{video.asin}
                    td !{video.itemAttributes.ean}